

.main {
  background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(22,1,90,1) 55%, rgba(2,2,143,1) 85%, rgba(0,134,255,1) 100%);
  min-height: 200vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  min-height: 100vh;
}

.welcome_title{
  font-family: "K2D", serif;
  text-shadow: 0px 0px 10px 0px rgb(0, 225, 255);
  background-color: #0044ff;;
  padding: 5% 20%;
  top: 0;
  min-height: 50vh;
  font-size: 1.3rem;
}

.welcome_title h2{
z-index: 1;
}





.userprofile {
  display: flex;
  width: 100%;
  padding-left: 15%;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}

.profile_section{
  font-family: 'K2D', serif;
}

.profile{
  position: sticky;
  top: 10%;
  left: 0;
  margin-top: 10%;
}

.profile_section img{
  animation: glowing 5s infinite linear alternate;
  width: 200px;
}

@keyframes glowing {
  0% {
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255, 0.4);
  }
  100%{
    box-shadow: 0px 0px 30px 0px rgb(255, 255, 255);
  }
}

.contact{
  display: flex;
  justify-content: center;
  gap: 3%;
  align-items: center;
}

.skills{
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  color: #cecece;
}

.SocialIcon{
  color: #ffffff;
  width: 40px;
  height: 40px;
}


.description{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  text-align: justify;
}

.timeline_item:hover{
  color: #ffffff;
  .li{
    color: #ffffff;
  }
  .span {
    color: #e0e0e0;
  }
}

.timeline_content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.timeline_content.visible {
  opacity: 1;
  transform: translateY(0);
}

/* styles.module.css */
.timeline_item {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.timeline_item.visible {
  opacity: 1;
  transform: translateY(0);
}

.timeline_item:hover
{
  color: #ffffff;
  .li{
    color: #00e1ff;
  }
  .span {
    color: #e0e0e0;
  }
}


.timeline_content {
  display: flex;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 30%;
  .icon {
    color: #e0e0e000;
    transition: 0.5s;
    margin-left: 30px;
    transform: translate(0px, 0px);
  }
}
.timeline_content h3 {
  margin: 0;
  padding: 0;
}
.timeline_date{
  font-family: "K2D", serif;
  font-weight: 300;
  color: rgb(165, 165, 165);
  margin: 0;
  padding: 0;
}

.timeline_content:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px 0px rgb(0, 238, 255);
}

.timeline_content:hover .icon {
  color: #e0e0e0;
  transition: 0.5s;
  transform: translate(10px, 0px);
}


.button{
  padding: 15px 25px;
  font-family: "K2D", serif;
  font-size: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.4);
  transition: 1s;
}

.button:hover {
  background-color: #e0e0e0;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
  transition: 1s;
}

.timeline_container{
  display: flex;
}

.rocket{
  position: absolute;
  transform: translate(180%, 800%);
  width: 100px;
  height: 100px;
  z-index: 1;
  transition: 0.5s;
}

.rocket:hover{
  cursor: pointer;
}


.animateRocket{
  transform: translate(180%, -200%);
  transition: 2s;
}

.ufo{
  position: absolute;
  transform: translate(-300%, 0%) rotate(20deg);
  width: 15%;
  z-index: 1;
  fill: #000E36;
}

.planet{
  position: absolute;
  transform: translate(60%, 10%);
  width: 30%;
  z-index: 1;
  fill: #ffffff;
}

.meteor{
  position: absolute;
  transform: translate(200%, -30%) ;
  width: 10%;
  fill: #00349b;
  z-index: 1;
}

.cow{
  position: absolute;
  transform: translate(-570%, 250%) rotate(20deg);
  width: 8%;
  fill: #000E36;
  z-index: 1;
}


.svgIcon{
  width: 100px;
  height: 100px;
  fill: #ffffff;
}

.footer{
  color: #ffffff;
  text-align: center;
  font-family: "K2D", serif;
  background-color: black;
  z-index: 1;
  margin: 0;
  padding: 0;
}



.wave {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(282% + 1.3px);
  height: 200px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.4);
}

.wave .shape_fill {
  fill: #000000;
}


.welcome_shape {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.welcome_shape svg {
  position: relative;
  display: block;
  width: calc(282% + 1.3px);
  height: 127px;
}

.welcome_shape .wave_fill {
  fill: #000E36;
}

.triangle_shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translate(0%, -170%);
  overflow: hidden;
  line-height: 0;
}

.triangle_shape svg {
  position: relative;
  display: block;
  width: calc(282% + 1.3px);
  height: 157px;
}

.triangle_shape .triangle_fill {
  fill: #001c69;
}


@media screen and (max-width: 1375px) {
  .welcome_title{
    font-family: "K2D", serif;
    text-shadow: 0px 0px 10px 0px rgb(0, 225, 255);
    background-color: #0044ff;;
    padding: 5% 20%;
    top: 0;
    min-height: 45vh;
    font-size: 1.0rem;
  }

  .profile{
    position: sticky;
    top: 10%;
    left: 0;
    margin-top: 10%;
  }
  
  .profile_section h1{
    font-size: .9rem;
  } 
  
  .profile_section h2{
    font-size: .8rem;
  } 
  
  .profile_section p{
    font-size: .7rem;
  }
  .profile_section img{
    animation: glowing 5s infinite linear alternate;
    width: 160px;
  }
  
  @keyframes glowing {
    0% {
      box-shadow: 0px 0px 5px 0px rgb(255, 255, 255, 0.4);
    }
    100%{
      box-shadow: 0px 0px 30px 0px rgb(255, 255, 255);
    }
  }
  
  .contact{
    display: flex;
    justify-content: center;
    gap: 3%;
    align-items: center;
  }
  
  .skills{
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: #cecece;
  }
  
  .SocialIcon{
    color: #ffffff;
    width: 40px;
    height: 40px;
  }

  .userprofile {
    display: flex;
    width: 100%;
    padding-left: 10%;
    text-align: center;
    color: #ffffff;
    z-index: 1;
  }

  .timeline_container{
    display: flex;
    max-width: 800px;
  }
  
  
  
  .description{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    font-size: .7rem;
    text-align: justify;
  }

  .ufo{
    position: absolute;
    transform: translate(-300%, -30%) rotate(20deg);
    width: 15%;
    z-index: 1;
    fill: #000E36;
  }
  
  .planet{
    position: absolute;
    transform: translate(80%, -20%);
    width: 26%;
    z-index: 1;
    fill: #ffffff;
  }
  
  .meteor{
    position: absolute;
    transform: translate(200%, -30%) ;
    width: 10%;
    fill: #00349b;
    z-index: 1;
  }
  
  .cow{
    position: absolute;
    transform: translate(-570%, 170%) rotate(20deg);
    width: 8%;
    fill: #000E36;
    z-index: 1;
  }

  
  
  .triangle_shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translate(0%, -130%);
    overflow: hidden;
    line-height: 0;
  }
  
  .triangle_shape svg {
    position: relative;
    display: block;
    width: calc(282% + 1.3px);
    height: 157px;
  }
  
  .triangle_shape .triangle_fill {
    fill: #001c69;
  }
  
}